@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #9ca3af;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}


.container-input{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input{
    width: 400px;
    height: 330px;
}

#input-texto{
    width: 345px;
    height: 330px;
    font-size: 20px;
    background: transparent;
    box-shadow: none;
    border: none;
    resize: none;
    outline: 0;
    padding: 10px;
    text-transform: lowercase;
}
    

#output{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-right: 3%;
}

#output h2{
    text-align: center;
    font-size: 25px;
}

#output p{
    font-size: 16px;
    text-align: center;
    padding: 20px;
}




.container-bnt button{
    border: 2px solid;
    border-radius: 20px;
    text-decoration: none;
    color: #7c0160;
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.btn-copiar{
    border: 2px solid;
    border-radius: 10px;
    text-decoration: none;
    color: #7c0160;
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container-bnt button:hover{
   border: 2px solid;
   transition: 0.5s all;
}

span {
    color: rgb(132, 14, 201);
    font-weight: 800;
}
